Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.vscode/
.history/
*.code-workspace


*.sublime-workspace
*.sublime-project

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

dist/
build/
.cache/
.tmp/
coverage/

*.bak
*.tmp
*.swp
*.swo

.env
.env.* 
.env.local
*.local

.idea/
*.log
